body {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  background-color: rgb(242, 242, 242);
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}