.header-app {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-auto-rows: 5rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: 'Kanit', sans-serif;
  background-color: #3EB68A;
}

.header-app select {
  font-size: medium;
  font-family: 'Kanit', sans-serif;
  padding: 0.625rem; /* 10px */
  color: #FFF;
  background-color: #3EB68A;
  border: 0;
  transition: 0.5s;
  text-align: center;
}

.header-app select:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.767);
  transition: 0.5s;
}

.header-app select ::-webkit-scrollbar {
  background-color: #3EB68A;
}

.header-app select ::-webkit-scrollbar-thumb {
  background-color: #FFF;
}

#title-logo {
  transition: 0.5s;
  padding: 1rem;
}

#title-logo:hover {
  cursor: pointer;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.753);
}

.search-bar {
  display: inline-flex;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
}

.searchbar-input {
  flex-grow: 1;
  padding: 0.625rem; /* 10px */
  outline: none;
  border: 0;
  border-radius: 10px 0 0 10px;
  background: #FFF;
  transition: background-color 0.25, box-shadow 0.25s;
}

.searchbar-input:focus {
  background-color: #FFF;
  box-shadow: 0 0 0.125rem #dfdfdfe3; /* 2px */
}

.searchbar-input::placeholder {
  color: #bbbbbb;
}

#searchbar-button {
  width: 2.5rem; /* 40px */
  background-color: #FFF;
  color: #FFF;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.625rem 0.625rem 0; /* 0 5px 5px 0 */
  cursor: pointer;
  user-select: none;
}

.to-cart {
  background-color: #3EB68A;
  border: 0;
  transition: 0.5s;
  padding: 0.625rem; /* 10px */
  color: #FFF;
}

.to-cart:hover {
  color: rgba(255, 255, 255, 0.753);
  transition: 0.5s;
  cursor: pointer;
}
