.shopping-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1.5rem auto;
  width: 100rem;
  border: 1px solid red;
}

.form-buyer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;  /* center */
  border: 1px solid saddlebrown;
}

.products-form {
  display: inline;
  width: 90rem;
  padding: 0.5rem;
}

.products-form h3 {
  color: #383838;
  padding: 0.25rem;
}

.products-form .product-card-check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-bottom: 1px solid #b8b8b8;
}

.products-form .product-card-check img {
  width: 8rem;
  height: 8rem;
}

.products-form .product-card-check h4 {
  color: #444444;
  padding: 1rem;
}

.product-card-check .product-card-check-title {
  text-align: center;
  width: 30rem;
}

.product-card-check .product-card-check-other {
  text-align: center;
  width: 5rem;
}

.buyer-data-form {
  display: flex;
  flex-direction: column;
  width: 90rem;
  padding: 0.5rem;
  border-bottom: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
}

.buyer-data-form form {
  display: flex;
  flex-wrap: wrap;
}

.buyer-data-form form input {
  padding: 0.75rem;
  margin: 0.75rem;
  width: 18rem;
}

.buyer-data-form form select {
  padding: 0.75rem;
  margin: 0.75rem;
  width: 20rem;
}

.buyer-data-form h3 {
  color: #383838;
  padding: 0.25rem;
}

.payment-form {
  display: inline;
  padding: 1rem;
  text-align: center;
  color: #1f1f1f;
}

.payment-form svg {
  border: 1px solid #b8b8b8;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 2.5rem;
}

.payment-form svg:hover {
  border: 1px solid #585858;
  cursor: pointer;
  color: #0a0a0a;
}

.payment-form input[type=radio] {
  display: none;
}

.payment-form input {
  padding: 0.75rem;
  margin: 0.75rem;
  width: 18rem;
  height: 1.5rem;
}
