.principal-container {
  display: flex;
}

.no-products-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(245, 245, 245);
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 250px;
  height: 450px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgb(221, 221, 221);
  transition: 0.20s;
}

.free-shipping {
  color: rgb(74, 158, 35);
}

.product-img {
  width: 60%;
}

.product-card button {
  background-color: rgba(53, 156, 118, 0.897);
  padding: 10px;
  border-radius: 5px;
  border: 0;
  color: #FFF;
}

.product-card button:hover {
  background-color: #3EB68A;
  cursor: pointer;
}

.product-text {
  padding: 10px;
  border-top: 1px solid rgb(221, 221, 221);
  text-align: left;
}
