.principal-container {
  display: flex;
}

.no-products-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* Apenas para visualização do container */
  border: 1px solid black;
  /* - */
  background-color: rgb(240, 240, 240);
}

.product-card {
  /* Visualização do card */
  border: 1px solid blue;
  /* - */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 250px;
  height: 450px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgb(221, 221, 221);
  transition: 0.20s;
}

.free-shipping {
  color: rgb(74, 158, 35);
}

.product-img {
  width: 60%;

}

.product-buttons {
  display: flex;

}