.product-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2%;
  padding: 3%;
  background-color: #fff;
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0.3125rem  /* 5px */0.3125rem  /* 5px */0.3125rem  /* 5px */0.3125rem  /* 5px */rgb(221, 221, 221);
}

.product-to-detail {
  display: flex;
  flex-direction: column;
  padding: 0.3125rem; /* 5px */
}

.product-specification {
  padding: 0.625rem; /* 10px */
  margin: 1.25rem; /* 20px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-right: 0.0625rem /* 1px */ solid rgb(211, 211, 211);
  border-left: 0.0625rem /* 1px */ solid rgb(211, 211, 211);
}

.product-info-buy {
  display: flex;
  flex-direction: column;
  padding: 0.625rem; /* 10px */
  margin: 0.625rem; /* 10px */
  align-items: flex-start;
  justify-content: flex-start;
}

.product-info-buy table {
  text-align: center;
}

.product-info-buy button {
  background-color: rgba(53, 156, 118, 0.897);
  margin: 0.3125rem; /* 5px */
  padding: 0.625rem; /* 10px */
  border-radius: 0.3125rem; /* 5px */
  width: 20rem; /* 200px */
  height: 3rem; /* 200px */
  border: 0;
  color: #FFF;
}

.product-info-buy button:hover {
  background-color: #3EB68A;
  cursor: pointer;
}

.product-localization {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.free-shipping-details {
  color: rgb(74, 158, 35);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem;
}

.product-available {
  color: #888888;
}