.teste {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    border: solid rgb(252, 185, 60) 1px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.swal-button {
    background-color: rgba(252, 185, 60, 0.877);
}

.swal-button:hover {
    background-color: rgb(252, 185, 60);
}